{
  "env": {
    "node": true,
    "jest": true
  },
  "globals": {
    "testServer": "true"
  },
  "extends": "airbnb-base",
  "rules": {
    "no-console": "off",
    "no-param-reassign": "off",
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off"
  }
}
